.ani_first_page-left{
    animation-name: hi;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes hi {
    0% {
        opacity: 0;
        transform:translate3d(0,200px,0);
    }   

    100%{ 
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}

.ani_first_page-right{
    animation-name: doudoug;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes doudoug {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }   
    100%{ 
        opacity: 1;
        transform: scale(1);
    }
}

/* For clients */

@keyframes move-left {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move-right {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* For tech */

@keyframes move-to-center-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes move-to-center-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.client-img:nth-child(3n+1) { 
    animation: move-left 2s ease-in-out;
}

.client-img:nth-child(3n+2) { 
    animation: fade-in 2s ease-in-out;
}

.client-img:nth-child(3n+3) { 
    animation: move-right 2s ease-in-out;
}
.why  > div{
    animation-timeline: view(150% auto)
}
.pricing  > div{
    animation-name: hi_2;
    animation-timing-function: ease-in-out;
    animation-timeline: view(150% auto);
}
@keyframes hi_2 {
    0% {
        opacity: 0;
        transform:translate3d(0,150px,0);
    }   
    
    100%{ 
        transform:translate3d(0,0,0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.team .member {
    animation-name: fadeInUp;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

.team .member:nth-child(1) {
    animation-delay: 0.2s; 
}

.team .member:nth-child(2) {
    animation-delay: 0.4s; 
}

.team .member:nth-child(3) {
    animation-delay: 0.6s; 
}

.team .member:nth-child(4) {
    animation-delay: 0.8s; 
}
/*스크롤시 애니 추가*/
.ani-doudoug, .ani-center-left, .ani-center-right, .ani-up-slow{
    animation-timing-function: ease-in-out;
    animation-timeline:view(90% 0) ;
}
.ani-doudoug{
    animation-name: doudoug;
}
#cta .ani-doudoug{
    animation-timeline: view(60% 0);
}

.ani-up{
    animation-name: hi;
    animation-timing-function: ease-in-out;
    animation-timeline: view(80% auto);
}

.ani-center-left{
    animation-name: move-to-center-left;
}
.ani-center-right{
    animation-name: move-to-center-right;
}
.ani-up-fasts{
    animation: hi;
    animation-timeline:view(120% 0) ;   
}
.ani-up-slow{
    animation: hi;
    animation-timeline:view(80% 0) ;   
}
.contact_container .ani-doudoug{
    animation-timeline:view(120% 0)
}