.contact {
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto; 
    overflow-x: hidden; 
}
.contact_container {
    margin: 0 auto;
    padding: 60px;
    animation-name: hi;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-timeline: view(100%, auto);
}
.contact_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_header-title{
    font-size: var(--body-header-font-size);
    font-weight: bold;
    font-family: var(--font-family-header);
    padding-bottom: 1rem;
    color: var(--dark-blue3);
}
.contact_header-underline {
    position: relative;
    height: 1px; 
    background-color: var(--light-gray); 
    margin: 0 auto 20px; 
    width: 120px; 
}
.blue-underline {
    position: absolute;
    width: 40px; 
    height: 3.5px; 
    background-color: var(--light-blue); 
    top: -1.5px;
    transform: translateX(-50%); 
    left: 50%;
}
.contact_header_description,
.team-header .description{
    width: 100%;
    font-size: var(--body--font-size);
    line-height: var(--body-line-height);
    margin-bottom: 30px;
    color: var(--dark-gray);
    text-align: center;
}
.contact_body {
    display: flex;
    flex-wrap: nowrap;
    gap: 3%;
    height: 100%;
}
.contact_body_left {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-top: 3px solid var(--light-blue); 
    border-bottom: 3px solid var(--light-blue); 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
    border-left: none;
    border-right: none;
}
.contact_body_left_top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 2rem;
    gap: 1.3rem;
}
.contact_body_left_top .item {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 15px;
}
#contact_body-icon {
  font-size: 1.5rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  background-color: var(--light-blue2);
  color: var(--light-blue_icon);
  width: 3rem; 
  height: 3rem; 
  aspect-ratio: 1/1;
  border-radius: 1.5rem;
  border: 2px solid var(--light-blue2); 
  transition: background-color 0.5s ease-in-out;
}
.contact_body_left_top .item:hover {
    #contact_body-icon {
        background-color: var(--light-blue_icon);
        color: white;
    }
}
.contact_body_left-icon > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  color: var(--dark-blue);
}
.contact_body_left_top .item .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.3rem;
}
.contact_body_left_top .item .text-header {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue3);
    padding: 0.5rem 0;
    font-family: var(--font-family-header);
} 
.contact_body_left_top .item .text-content {
    font-size: var(--body--font-size);
    color: var(--dark-blue4);
}
.map {
    margin: 2rem 2rem;
    margin-top: 0;
}
.map > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact_body_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    gap: 1rem;
    border-top: 3px solid var(--light-blue); 
    border-bottom: 3px solid var(--light-blue); 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
    border-left: none;
    border-right: none;
    padding: 2rem;
    color: var(--drak-gray);
}
.row-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 25px;
}
.row-group_item, .item {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
}
.item .item-name, .row-group_item .item-name{
    font-size: var(--body--font-size);
}
input[type="text"], input[type="email"], textarea {
    box-sizing: border-box;
    padding: 0.7rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.55rem;
    font-size: 1.2rem;
    width: 100%;
}
.contact_body_right input[type="text"]:focus,
.contact_body_right input[type="email"]:focus,
textarea:focus {
    outline: 1px solid var(--light-blue_icon);
}
textarea {
    height: 200px; 
    resize: none; 
}
button[type="submit"] {
    padding: 15px;
    background-color: var(--light-blue_icon);
    color: white;
    border: none;
    border-radius: 5rem;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    width: 30%;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

@media (max-width:992px){
    .contact_body{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    .contact_body_left, .contact_body_right {
        width: 100%;
    }
    .contact_container {
        margin: 2rem;
    }
}
@media (max-width:768px){
    .row-group {
        grid-template-columns: repeat(1, 1fr);
    }
}
