footer {
    background-color: var(--light-blue3);
    max-width: 100%; 
    margin: 0; 
    overflow-x: hidden; 
}
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
}
.newsletter .newsletter-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-blue1);
    font-family: var(--font-family-header);
}
.newsletter .newsletter-description {
    font-weight: 100;
    color: #444444;
    font-size: var(--body--font-size);
    margin-bottom: 1.5rem;
}
.newsletter .newsletter-subscribe{
    display: flex;
    width: 550px;
    height: 2.7rem;
    text-align: left;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    background-color: #fff;
}
.newsletter input[type="text"] {
    box-sizing: border-box;
    border: 0px solid #fff;
    font-size: 1.3rem;
    width: 100%;
    margin: 0.5rem 0.7rem;
    padding: 0;
}
.newsletter button[type="submit"] {
    width: 10rem;
    background-color: var(--light-blue_icon);
    font-size: 1rem;
    white-space: nowrap; 
    overflow: hidden; 
    transition: background-color 0.3s ease-in-out;
    padding: 0;
    text-align: center;
}
.newsletter button[type="submit"]:hover {
    background-color: #2980b9;
}
.arsha_info-container {
    padding: 0 7%;
    background-color: white;
}
.arsha_info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 45px 10px;
}
.arsha_info .first_block, .arsha_info .second_block, .arsha_info .third_block, .arsha_info .last_block {
    flex:1;
    width: 25%;
}
.arsha_info .first_block-header {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--dark-blue1);
    margin-bottom: 1rem;
    font-family: var(--font-family-header);
}
.arsha_info .first_block p {
    color: var(--dark_gray);
    font-size: 0.9rem;
    line-height: 24px;
    margin-bottom: 0px;
}
.arsha_info .first_block strong {
    color: var(--dark_gray);
    font-weight: bold;
}
.arsha_info .second_block, .arsha_info .second_block ul, .arsha_info .third_block, .arsha_info .third_block ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.arsha_info .second_block .second_block-header, .arsha_info .third_block .third_block-header, .arsha_info .last_block .last_block-header{
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--dark-blue1);
    font-family: var(--font-family-header);
}
.arsha_info .second_block ul i, .arsha_info .third_block ul i {
    color: var(--light-blue);
    padding: 0.5rem 0; 
    font-size: 0.9rem;
}
.arsha_info .second_block ul a, .arsha_info .third_block ul a {
    color: var(--dark_gray);
    padding: 0.5rem 0.3rem; 
    line-height: 0.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.arsha_info .second_block ul a:hover, .arsha_info .third_block ul a:hover {
    color: var(--light-blue);
}
.arsha_info .last_block p {
    padding-top: 1.5rem;
    font-size: 0.9rem;
    line-height: 24px;
    color: var(--dark_gray);
}
.arsha_info .sns_icons {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: 0.5rem;
    align-items: flex-start;
}
.arsha_info .sns_icons i {
    color: white;
    background-color: var(--light-blue_icon);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    padding: 0.5rem;
    text-align: center; 
    transition: background-color 0.3s ease-in-out;
}
.arsha_info .sns_icons i:hover {
    background-color: #2980b9;
}
.last_line {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue1);
    color: white;
    font-size: 0.9rem;
    padding: 1.8rem 6rem;
}
.last_line strong {
    font-weight: bold;
}
.last_line blue {
    color: var(--light-blue);
}

#fixed_icon {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    background-color: var(--light-blue_icon);
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
#fixed_icon:hover {
    background-color: #6BC1E9;
}
@media (max-width:992px){    
    .arsha_info .first_block, .arsha_info .second_block, .arsha_info .third_block, .arsha_info .last_block {
        flex:1;
        min-width: 20rem;
        padding-bottom: 15px;
        margin: 0 auto;
    }
}
@media (max-width:768px){    
    .arsha_info .first_block, .arsha_info .second_block, .arsha_info .third_block, .arsha_info .last_block {
        flex:1;
        width:100%;
        padding-bottom: 30px;
    }
    .arsha_info {
        margin: 0 auto;
        padding: 10%;
    }
    .last_line {
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;
        padding: 1rem 4rem;

    }
}
@media (max-width: 576px) {
    .newsletter .newsletter-subscribe {
        width: 100%;
    }
}