.big__container{
    position: absolute;
    width: 100%;
    z-index: -1;
    font-family: var(--font-family-header);
}
.fixed-top{
    position: fixed;
    top: 32px; 
    right: 0;   
    left: 0;
    padding: 15px 0;
    background-color: rgba(40, 58, 90, 0.9);
    animation-name: colorChange;
    animation-timeline: view();
    z-index: 999;
}

@keyframes colorChange {
    0% {
        background-color: var(--header2-back); /* 초기 배경색 */
    }
    100% {
        background-color: var(--header2-back); /* 최종 색상 */
    }
}

.container-lee{
    align-items: center;
    display: flex;
    width: 100%;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-right: auto;
    margin-left: auto;
    height: 30px;
}

@media (max-width:1400px){
    .container{
        max-width: 1320px;
    }
}

@media (max-width:1200px){
    .container{
        max-width: 1140px;
    }
}

@media (max-width:992px){
    .container{
        max-width: 960px;
    }
    
    .fixed-top .container-lee{
        height: 42.5px;
    }

}

@media (max-width:768px){
    .container{
        max-width: 720px;
    }
}

@media (max-width:576px){
    .container{
        max-width: 540px;
    }
}
.header2-logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: auto;
    font-family: "Jost", sans-serif;
}
.header2-logo>a {
    color: white;
    text-decoration: none;
}

.header2-navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header2-navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-hamburger{
    display: none;
    flex-direction: column;
    width: 2rem;
}

.nav-hamburger > div{
    margin-top: 5px;
    width: 25px;
    height: 2px;
    margin: 3px 0;
    background-color: white;
}

@media (max-width: 992px){
    .nav-hamburger {
        display: flex;
    }
    .header2-navbar ul{
        display:none;
    }
}

.header2-navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
}

.nav-hamburger:hover .header2-navbar ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}


.header2-navbar .getstarted_link{
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}
.header2-navbar .getstarted_link:hover{
    background-color: #47b2e4;
    color: white;
}

.header2-navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
    list-style: none;
    color: gray;
}

.header2-navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.header2-navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left:100%;
    visibility: visible;
}
.header2-navbar li{
    position: relative;
}

.header2-navbar .dropdown ul li {
    min-width: 200px;
}

.header2-navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
}
.header2-navbar a:hover{
    color: #47b2e4;
}

.header2-navbar a i{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    margin-top: 3px;
}

.main{
    position:relative;
    top: 32px;
}