:root{
    --gray-unselect:rgb(255,255,255,.5);
    --header2-back:#37517e;
    --section_gutter: 60px;
    --section-bg: #f3f5fa;   
}
:root{
    --body-width: 1320px;
    --body-right-space: 10rem;
    --body-header-font-size: 2.5rem;
    --font-family-header: 'Jost', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
    --body--font-size: 1rem;
    --body-line-height: 1.5rem;
    --light-gray: #dcdcdc;
    --light-blue: #209dd8;
    --light-blue_icon: #47b2e4;
    --light-blue2: #e7f5fb;
    --light-blue3: #f3f5fa;
    --dark-blue1: #37517e;
    --dark-blue2: #2e5090;
    --dark-blue3: #37517e;
    --dark-blue4: #6182ba;
    --gray : rgb(94, 94, 94);
}
